header{
    padding: 20px 0;
}
.caixa{
    position: relative;
    width: 940px;
    margin: 0 auto;
}
#banner{
    width: 100%
}
.principal{
    background: #CCCCCC;
    padding: 30px;
}
.titulo-principal{
    padding: 20px;
}
.titulo-centralizado{
    text-align: center;
}

p {
    text-align: center;
}
#missao {
    font-size: 20px;
}
em strong{
    color: red;
}
.itens{
    font-style: italic;
    
}
.beneficios{
    background: white;
    padding: 20px; /**espaçamento interno para todos os lados para dar margem de respiro*/
}

ul{
    display: inline-block; /**para ocupar somente o tamanho do conteúdo*/
    vertical-align: top; /**para alinhar a lista em cima*/
    width: 20%; /**largura da lista*/
    margin-right: 15%;
}
.imagembeneficios{
    width: 50%;
}
