body{
    font-family:'Montserrat', sans-serif;
}

header{
    background: #BBBBBB;
    padding: 20px 0;
}
.caixa{
    position: relative;
    width: 940px;
    margin: 0 auto;
}
nav{
    position: absolute; /*absolute: conseguimos colocar onde quisermos na página*/
    top: 110px;
    right: 0;
}
nav li{
    display: inline; /*para deixar a lista alinhada*/
    margin: 0 0 0 15px;/*margem entre as palavras. 0 = topo, 0 = direita, 0 = baixo e 0 = esquerda*/
}
nav a{
    text-transform: uppercase; /*para deixar a letra maiuscula*/
    color: #000000; /*para ausencia de cor, fica preto*/
    font-weight: bold; /*para deixar em negrito*/
    font-size: 22px;/*para alterar o tamanho da fonte*/
    text-decoration: none;/*para tirar o sublinhado*/
}
nav a:hover{ /* Adicionamos a tag hover após o item. Ex: nav + a é para alterar o comportamento 
    padrão, nav + a + hover é para alterar qndo o mouse estiver por cima dos links de navegação*/
    color: #C78C19;
    text-decoration: underline;
}
.produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0; /*aumentar o espaçamento interno*/
}
.produtos li{
    display: inline-block; /*sempre alinha os elementos pela linha debaixo*/
    text-align: center;
    width: 30%;
    vertical-align: top; /*para alinhar pela linha de cima*/
    margin: 0 1.5%; /*dar distancia entre as imagens 1.5 + 1.5 será 3% de distancia*/
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #000000; /*para formatar a borda: tamanho da linha, tipo e cor*/
    border-radius: 10px; /*para arreedondar a borda da caixa*/
}
.produtos li:hover{ /* Destaque visual quando o usuário passa o cursor sobre o elemento*/
    border-color: #C78C19;
} 
.produtos li:active{
    border-color: #088C19;
}   
.produtos li:hover h2{ /* Destaque visual do h2 quando um elemento está sendo ativado pelo usuário*/
    font-size: 34px;
}
.produtos h2{
    font-size: 30px;
    font-weight: bold;
}
.produto-descricao{
    font-size: 18px;
}
.produto-preco{
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}

footer{
    text-align: center;
    background: url("bg.jpg");
    padding: 40px 0;
}
.copyright{
    color: #FFFFFF;
    font-size: 13px;
    margin-top: 20px;
}

main{
    
}

form{
    margin: 40px 0;
}

form label, form legend{
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}
.input-padrao{ /*ao usar a virgula podemos colocar outro elemento que terá as mesmas confirgurações do primeiro elemento*/
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.checkbox{
    margin: 20px 0;
}

.enviar{
    width:40%;
    padding: 15px 0;
    background: orange;
    color: white;
    font-weight: bold;
    font-size:18px;
    border: none;
    border-radius: 5px;
    transition: 1s background;
    cursor: pointer;
}
.enviar:hover{
    background: darkorange;
    transform: scale(1.2); /*a propriedade transform: scale() aumenta um elemento proporcionalmente*/
}
table{
    margin: 20px 0 40px;
}
thead{
    background: #555555;
    color: white;
    font-weight: bold;
}
td, th{
    border: 1px solid #000000;
    padding: 8px 15px;
}
/*css da página inicial*/
.banner{
    width: 100%;
}
.titulo-principal{
    text-align: center;
    font-size: 2em; /*em, é a media proporcional para pixels*/
    margin: 0 0 1em;
    clear: left; /*limpa o float que colocamos em utensilios*/
}

.principal{
    padding: 3em 0;
    background: #FEFEFE;
    width:940px; /*formatação para centralizar*/
    margin: 0 auto;
}
.principal p{
    margin: 0 0 1em; /*para criar margem proporcional ao tamanho da fonte*/
}
.principal strong{
    font-weight: bold;
}
.principal em{
    font-style: italic;
}
.utensilios{
    width: 120px;
    float: left; /*faz a imagem descolar o elemento na lateral e deixa os outros elementos ao redor com uma sombra*/
    margin: 0 20px 20px 0;
}
.mapa{
    padding: 3em 0;
    background: linear-gradient(#FEFEFE, #888888); /* para fazer o degradês linear das cores*/
}
.mapa p{
    margin: 0 0 2em;
    text-align: center;
}
.mapa-conteudo{
    width:940px; /*formatação para centralizar*/
    margin: 0 auto;
}
.beneficios{
    padding: 3em 0;
    background: #888888;
}
.conteudo-beneficios{
    width: 640px;
    margin: 0 auto;
}
.lista-beneficios{
    width: 40%;
    display: inline-block;
    vertical-align: top;
}
.itens{
    line-height: 1.5;
}
.itens:first-child{ /*busca o primeiro item dentro da lista*/
    font-weight: bold;
}
.itens:before{ /*criar espaço para usar o CSS antes do elemento*/
    content: "✭"
}
.imagem-beneficios{
    width: 60%;
    opacity: 1; /*para deixar a imagem mais opaca*/
    transition: 400ms;
    box-shadow: 10px 10px 0 #000000; /*Deixar com sombra. Formado pelo eixo X Y Blur intensidade da sombra + a cor. Podemos adicionar várias sombras*/
}
.imagem-beneficios:hover{
    opacity: 0.3;
}
.video {
    width: 560px;
    margin: 2em auto;
}

@media screen and (max-width: 480px){
    .caixa, .principal, .conteudo-beneficios, .mapa-conteudo, .video {
        width: auto;
    }
    h1 {
        text-align: center;
    }
    nav {
        position:static;
    }
    .lista-beneficios, imagem-beneficios {
        width: 100%
    }
}

/*margin: 0 0 0 0 (cima, direita ,baixo, esquerda)*/
/*margin: 0 0 (cima e baixo, direita e esquerda)*/
/*margin: 0 (todos os lados)*/
/*No hover, mapeamos o comportamento do mouse por cima do elemento, e podemos usar isso para 
destacar visualmente o elemento em questão.*/
/*No active queremos realçar alguma característica quando o mouse do usuário e
stiver clicando no elemento*/
/*Os caracteres Unicode estão disponíveis para serem usados como um complemento ao nosso texto.*/
/*A propriedade padding serve para alterarmos o espaçamento interno, entre o conteúdo e a borda.*/
/* Absolute = para sobrepor um elemento
Float = para descolar o elemento na lateral e deixar os outros elementos ao redor*/
/*main p 
    background: red; todos os parágrafos estarão marcados de vermelho
main > p {
    background: red; usamos > para selecionar os filhos diretos de <main>
img + p { 
    balckground: blue; usamos + para selecionar o primeiro parágrafo que sucede uma imagem
img ~ p {
    background: yellow; usamos o seletor ~ para selecionar todos os parágrafos localizados depois de uma imagem
.principal p:not(#missao) {
    background: orange; excluir itens específicos. Se quisermos excluir todos os parágrafos que não compõe missao */
